.formulario {
    display: flex;
    flex-direction: column;
}

.contenedores {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.insert {
    margin-left: 500px;
    padding: 6px;
}

label {
    width: 100px;
}

input,
textarea {
    flex: 1;
}